.container{
    width: 50%;
    background-color: rgb(34, 159, 205);
    text-align: center;
    border: 2px solid black;
    border: radius 10px; 
    font-size: 40px;
    margin: auto;
    padding: 20px;




}